h1,
p {
    margin: 0;
    padding: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.hidden {
    display: none;
}

/* Add this to style.css */
#recording-timer {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}