html {
    font-family: sans-serif;
}

h1,
p {
    margin: 0;
    padding: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.hidden {
    display: none;
}

.button,
button {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #e9e9ed;
    font-size: medium;
    padding: 0 0.2rem;
    width: max-content;
    text-decoration: none;
}

.button.disabled,
button.disabled {
    color: #6d6d6d;
}

a.button:hover:not(.disabled),
button:hover:not(:disabled) {
    background-color: #d0d0d7;
}

form {
    display: contents;
}
